*, *::before, *::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Poppins', sans-serif;
    line-height: 1.3;
}
.head-bg{
    background: linear-gradient(20deg, #f5848c, #6c2483);
}
.btn-srch{
    background-color: #f5848c;
}
.btn-srch:hover,.search-content:hover{
    background-color: #6c2483;
    border: 2px solid #6c2483;
}
.search-content-inp{
    border: 2px solid #f5848c;
}
.nav-bg{
    background-color: #f5848c;
}
.nav-bg nav span:hover{
    color: #0ce4e4;
    transition: 0.9s ;
}
.carousel-item{
    display: none;
}
.carousel-item.active{
    display: block;
}
.carousel {
    position: relative;
  }
  .carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px;
    border-radius: 50%;
  }
  .prev {
    left: 10px;
  }
  .next {
    right: 10px;
  }
  .carousel img {
    width: 100%;
    height: auto;
  }